* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-image: linear-gradient(
    120deg,
    rgb(81, 185, 255),
    rgb(15, 49, 238)
  );
  color: white;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: teal;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: teal;
  color: white;
}
