* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  /* font-size: 62.5%; */
  background-image: linear-gradient(
    120deg,
    rgb(81, 185, 255),
    rgb(15, 49, 238)
  );
  color: white;
  min-height: 100vh;
}

/* All todo add styles */

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  background: #13df46;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  color: #13df46;
  background: white;
}

/* All todo items styles */

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
  padding: 0 0.5rem;
}

.confirm-btn,
.delete-btn {
  background: #f1cf36;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
}

.confirm-btn {
  background-color: #13df46;
}

/* Delete and Check icons no pointer events */
.fa-check,
.fa-trash {
  pointer-events: none;
}

.completed {
  opacity: 0.5;
}
.completed li {
  text-decoration: line-through;
}

.deleted {
  transform: translateY(8rem) rotateZ(25deg);
  opacity: 0;
}

/* Filter styles */

select {
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: rgb(97, 97, 245);
  font-size: 1rem;
  cursor: pointer;
  width: 10rem;
  padding: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #f1cf36;
  top: 0;
  right: 0;
  padding: 1.2rem;
  pointer-events: none;
  transition: all 0.5s ease;
}

.select:hover::after {
  background: white;
  color: #f1cf36;
}
